<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Todos</title>
</head>
<body>
<h1>This si All todos</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form.task}}
    <input type="submit" value="Save">
</form>
{% for todo in todos %}
<div style="display: flex; justify-content: space-between;">
    <div style="width: 60%; display:flex; justify-content:space-between">
        <p>{{todo.task}}</p>
        <input type="checkbox" checked="{{ todo.is_done }} " name="is_done" id="is_done">
    </div>

    <div style="width: 20%;">
        <a href="  {% url 'Edit-todo' todo.slug %}">
            <input type="button" value="Edit">
        </a>
        <a href="  {% url 'Edit-todo' todo.slug %}">
            <input type="button" value="Delete">
        </a>
    </div>

</div>

{% endfor %}
</body>
</html>