<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form method="GET" action="{% url 'list-todo' %}">
    <div style="display:flex; justify-content: space-between;">
    {% csrf_token %}
        <input type="text" value="{{Edit_todo.task}}" name="task" id="task" />
        <input type="checkbox" checked="{{ Edit_todo.is_done }}" name="is_done" id="is_done" />
        <input type="text" value="{{ Edit_todo.slug }}" name="slug" id="slug" >
    <input type="submit" value="Save">

    </div>
</form>
</body>
</html>